:root {
  --disclaimer-background: #fff8e1;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.disclaimer {
  color: var(--primary);
  background-color: var(--disclaimer-background);
  text-align: center;
  border: var(--border) solid var(--border-color);
  line-height: 1.5;
  padding: 1.5rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.05);
}