.tabs {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  border-bottom: 1px solid var(--border-color);
}

.tab {
  padding: 1.4rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: var(--primary);
  border: 1px solid var(--border-color);
  border-bottom: none;
  margin-bottom: 0;
  background-color: white;
}

.tab + .tab {
  margin-left: 0.3125rem;
}

.tab-active {
  border-bottom: 1px solid var(--surface);
  font-weight: bold;
  color: var(--text);
  margin-bottom: -1px;
}
